.container-nosotros {
    margin: 50px auto;
}
.nosotros-titulo {
    font-size: 48px;
    font-weight: 400;
    margin: 40px 0;
}

.line-nosotros {
    position: relative;
    font-weight: normal;
}

.line-nosotros::after {
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    right: 1000px;
    background-color: #9F1800;
    bottom: -5px;
}

.nosotros-parrafo {
    font-weight: 400;
    position: relative;
    font-size: 20px;
}
.nosotros-parrafo span{
    font-weight: bold;
}
.nosotros-parrafo-descripcion {
    padding-left: 30px;
}
.nosotros-linkedin{
    height: 40px;
    padding-right: 10px;
}
.nosotros-linkedin-text {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 650px){
    .nosotros-titulo {
        font-size: 28px;
        margin: 40px 0;
    }
    .line-nosotros::after {
        width: 30%;
        left: 40px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1900px){
    .nosotros-titulo {
        text-transform:uppercase;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1924px){
    .nosotros-titulo {
        text-transform:uppercase;
    }
}