.container-nosotros {
    margin: 50px auto;
}
.nosotros-titulo {
    font-size: 48px;
    font-weight: 400;
    margin: 40px 0;
    text-transform:uppercase;
}

.line-nosotros {
    position: relative;
    font-weight: normal;
}

.line-nosotros::after {
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    right: 1000px;
    background-color: #9F1800;
    bottom: -5px;
}

.nosotros-parrafo {
    font-weight: 400;
    position: relative;
    font-size: 20px;
}
.nosotros-parrafo span{
    font-weight: bold;
}
.nosotros-parrafo-descripcion {
    padding-left: 30px;
}
.nosotros-linkedin{
    height: 40px;
    padding-right: 10px;
}
.nosotros-linkedin-text {
    font-size: 20px;
    font-weight: 500;
}
.cursiva{
    font-style: oblique;
    font-size: 20px;
}

@media screen and (max-width: 1920px) {
    .ocultar-md{
        display: none;;
    }
}

@media screen and (max-width: 576px) {
    .nosotros-titulo {
        text-transform:none;
        font-size: 28px;
        margin: 40px 0;
    }
    .line-nosotros::after {
        width: 30%;
        left: 40px;
    }
    .ocultar-sm{
        display: none;
    }
    .ocultar-md{
        display:grid;
        background-color: #F9EDCC;
        margin-bottom: 30px;
    }
    .imagen {
        height: 150px;
        margin-right: 15px;
    }
    .borde {
        border: white solid;
        margin: 15px 0px;
        padding: 10px 10px;
    }
    .cursiva{
        color: #196B3C;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .nosotros-parrafo-sm {
        font-weight: 400;
        position: relative;
        font-size: 16px;
    }
    .nosotros-parrafo-sm span{
        font-weight: 500;
        color: #196B3C;
        font-size: 17px;
    }
    .d-flex{
        margin: 10px 0px;
    }
    h3{
        font-weight: 700;
        color: #196B3C;
        font-size: 18px;
    }
    .enlace-sm a span {
        font-size: 12px;
    }
    .nosotros-linkedin{
        height: 20px;
    }
}
