.container-inicio-layout-2 {
    background-color: #F5F5F5;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.servicios-titulo {
    position: relative;
}

.servicios-titulo h2 {
    font-size: 48px;
    font-weight: 400;
}

.servicios-titulo::after {
    top:0;
    left: -15px;
    position: absolute;
    content: '';
    width: 7px;
    height: 100%;
    background-color: #196B3C;
}

.servicios-parrafo {
    font-weight: 400;
    position: relative;
    font-size: 32px;
}

#line-parrafo {
    position: relative;
    font-weight: normal;
}

#line-parrafo::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 7px;
    right: -15px;
    background-color: #196B3C;
    bottom: -15px;
}

.servicios-parrafo span {
    font-weight: bold;
}

.cardService-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1400px) {
    .container-inicio-layout-2 {
        padding-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .container-inicio-layout-2 {
        background-color: #FFFFFF;
        padding-top: 25px;
    }

    .servicios {
        width: 80%;
    }

    .cardService-container {
        flex-direction: column;
        align-items: center;
    }


    .servicios-titulo h2 {
        font-size: 20px;
    }

    .servicios-parrafo {
        font-size: 16px;
    }

    #line-parrafo {
        position: relative;
        font-weight: normal;
    }

    #line-parrafo::after {
        position: absolute;
        content: '';
        width: 80%;
        height: 7px;
        right: -15px;
        background-color: #196B3C;
        bottom: -15px;
    }

    .servicios-parrafo span {
        font-weight: bold;
    }
}
