.redes-contacto-container {
    border: 1px solid white;
    margin: 60px 0 0 0;
    padding: 40px 40px 0 40px;
    border-radius: 10px;
    width: 40%;
    min-width: fit-content;
}

.redes-contacto-container .logos {
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 20px;
}

.redes-contacto-container div p {
    padding-top: 12px;
    padding-left: 1rem;
    text-align: center
}


.redes-sociales {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 992px) {
    .redes-contacto-container {
        width: 90%;
    }

    .redes-contacto-container div p {
        text-align: center;
        padding-left: inherit;
        font-size: 20px;
        font-weight: 600;
    }

    .redes-contacto-container div p span {
        padding-left: inherit;
        display: inline-block;
    }

    .redes-sociales {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 576px) {
    .redes-contacto-container img {
        width: 48px;
        height: 48px;
    }

    .redes-contacto-container div p {
        font-weight: 400;
        font-size: 16px;
    }

    .redes-sociales {
        margin-bottom: 1rem;
    }
}
