.container-forms {
    background-color: #EBD9B6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.form-contacto-container {
    margin: 0 1rem 0 0;
    width: 60%;
    min-width: fit-content;
}

.inputs-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.inputs-form label {
    font-size: 20px;
    font-weight: 600;
}

.inputs-form input {
    min-height: 48px;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.inputs-form textarea {
    min-height: 144px;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inputs-form textarea::-webkit-input-placeholder {
   padding-top: 10px;
}

.contacto-redes {
    width: 40%;
}

.form-contacto-container button {
    margin-top: 50px;
    color: #FFFFFF;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #196B3C;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subcontainer-form {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .form-contacto {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .form-contacto {
        flex-direction: column;
        align-items: center;
    }

    .form-contacto-container {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .form-contacto {
        width: 100%;
    }

    .inputs-form input {
        border-bottom: 1px solid black;
        border-radius: 3px;
    }

    .inputs-form textarea {
        border-bottom: 1px solid black;
        border-radius: 3px;
    }

    .inputs-form label {
        display: none;
    }

    .form-contacto-container button {
        height: 36px;
        border-radius: 5px;
    }

    .form-contacto-container {
        margin: 0;
    }
}


