.container-form-title {
    width: 70%;
    margin-top: 4rem;
    justify-content: flex-start;
}

.form-title h2 {
    position: relative;
    font-size: 48px;
    font-weight: 400;
}

.form-title h2::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 100%;
    left: -15px;
    top: 0;
    background-color: #196B3C;
}

.form-title p {
    font-size: 32px;
    font-weight: 400;
}

@media screen and (max-width: 1400px) {
    .container-form-title {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .container-form-title {
        margin-top: 2rem;
    }

    .form-title h2 {
        font-size: 20px;
        font-weight: 600;
    }


    .form-title p {
        font-size: 16px;
        font-weight: 500;
    }
}
