.taller {
    padding-bottom: 105px;
}
.container-taller {
    margin: 50px auto;
}
.taller-titulo {
    font-size: 48px;
    font-weight: 400;
    text-transform:uppercase;
    margin: 20px 0;
}
.taller-subtitulo {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}
.line-taller {
    position: relative;
    font-weight: normal;
}
.line-taller::after {
    position: absolute;
    content: '';
    width: 13%;
    height: 7px;
    right: 880px;
    background-color: #9F1800;
    bottom: -5px;
}
.links-taller li{
    height: 75px;
    background-color: #F9EDCC;
    margin: 15px 0px;
    border-radius: 15px;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.lista-taller li{
    margin-top: 15px;
    height: 80px;
}
.row i {
    display: grid;
    align-items: center;
}
.icono {
    display: grid;
    align-items:flex-start;
    padding-top: 20px;
}
.icono3 {
    display: grid;
    align-items:flex-start;
}

.boton-taller {
    position: absolute;
    bottom: -50px;
    right: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1900px){
    .boton-taller{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}