.suscripcion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9C6A53;
    height: 232px;
    text-align: center;
    color: #FFFFFF;
}

.suscripcion-subcontainer h3 {
    font-size: 20px;
}

.form-suscripcion input {
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 48px;
    width: 80%;
}

::placeholder {
    padding-left: 20px;
}

.form-suscripcion button {
    font-size: 16px;
    color: #FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #196B3C;
    height: 48px;
    border: none;
    width: 20%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.suscripcion-container p {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .suscripcion-container {
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (max-width: 576px) {
    .suscripcion-container {
        background-color: #824737;
    }
    .form-suscripcion {
        display: flex;
        flex-direction: column;
    }

    .form-suscripcion input {
        border-radius: 7px;
        width: 100%;
    }

    .suscripcion-subcontainer h3 {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 27px;
    }

    .suscripcion-subcontainer span {
        display: block;
        font-weight: 700;
    }

    .form-suscripcion button {
        margin-top: 1rem;
        color: #FFFFFF;
        border-radius: 7px;
        height: 36px;
        width: 100%;
    }

    .suscripcion-container p {
        font-size: 20px;
        font-weight: 600;
    }
}

