.container-inicio-layout-1 {
    padding: 50px 50px 0 0;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    background-image: url("src/assets/HomeFondo.png");
    background-size: cover;
    background-position: center;
}

.inicio-a {
    color: #FFFFFF;
    width: 27%;
}

.inicio-a-title h1 {
    position: relative;
    font-size: 48px;
    font-weight: 400;
}

.inicio-a-title h1::after {
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    width: 8px;
    background-color: #196B3C;
    left: -15px;
}

.inicio-a-parrafo p {
    font-size: 32px;
    font-weight: 100;
}

.container-titulo-layout-1 {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A3A3A;
    font-style: italic;
    font-size: 32px;
    height: 12vh;
}


